/**********************************************************!
 * GENERAL
 * STYLE
 **********************************************************/
*:focus {
  outline: none; }

html,
body {
  height: 100%; }

body {
  font-weight: 300;
  color: #111;
  background-color: #fafafa;
  font-family: 'Open Sans'; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #333; }

a,
a:active,
a:focus {
  text-decoration: none;
  transition: 0.3s; }

a:hover {
  text-decoration: none; }

a:focus {
  outline: 0px; }

p {
  font-size: 16px;
  color: #888;
  font-weight: 400; }

p > span {
  font-weight: bold; }

p.error {
  color: #d9534f; }

pre {
  color: #555;
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: 0;
  border-radius: 0; }

button:focus {
  outline: 0; }

::-moz-selection {
  color: #fff;
  background: rgba(0, 0, 0, .2); }

::selection {
  color: #fff;
  background: rgba(0, 0, 0, .2); }

@media only screen and (min-width: 992px) {
  .container {
    width: 940px; }
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none; }

.container-fluid.light,
.container.light {
  padding-top: 20px !important;
  background-color: #fafafa; }

.form-control {
  font-weight: 400; }

/**********************************************************!
 * BUTTONS
 * STYLE
 **********************************************************/
.btn-default {
  color: #333333;
  background-color: #f8f8f8;
  border-color: #cccccc; }

.btn-default:focus,
.btn-default.focus {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #8c8c8c; }

.btn-default:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333333;
  background-color: #d4d4d4;
  border-color: #8c8c8c; }

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none; }

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #ffffff;
  border-color: #cccccc; }

.btn-primary {
  color: #ffffff;
  background-color: #006064;
  border-color: #005064; }

.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #004D50;
  border-color: #171e44; }

.btn-primary:hover {
  color: #ffffff;
  background-color: #004D50;
  border-color: #004D50; }

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #004D50;
  border-color: #004D50; }

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #004D50;
  border-color: #171e44; }

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none; }

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #006064;
  border-color: #005064; }

.btn-success {
  color: #ffffff;
  background-color: #4caf50;
  border-color: #449d48; }

.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #3d8b40;
  border-color: #1e441f; }

.btn-success:hover {
  color: #ffffff;
  background-color: #3d8b40;
  border-color: #327334; }

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #3d8b40;
  border-color: #327334; }

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #ffffff;
  background-color: #327334;
  border-color: #1e441f; }

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none; }

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #4caf50;
  border-color: #449d48; }

.btn-info {
  color: #ffffff;
  background-color: #00bcd4;
  border-color: #00a5bb; }

.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #008fa1;
  border-color: #00343b; }

.btn-info:hover {
  color: #ffffff;
  background-color: #008fa1;
  border-color: #006f7d; }

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #008fa1;
  border-color: #006f7d; }

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #ffffff;
  background-color: #006f7d;
  border-color: #00343b; }

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none; }

.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #00bcd4;
  border-color: #00a5bb; }

.btn-warning {
  color: #ffffff;
  background-color: #ff9800;
  border-color: #e68900; }

.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #cc7a00;
  border-color: #663d00; }

.btn-warning:hover {
  color: #ffffff;
  background-color: #cc7a00;
  border-color: #a86400; }

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #cc7a00;
  border-color: #a86400; }

.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #ffffff;
  background-color: #a86400;
  border-color: #663d00; }

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none; }

.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #ff9800;
  border-color: #e68900; }

.btn-danger {
  color: #ffffff;
  background-color: #f44336;
  border-color: #f32c1e; }

.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #ea1c0d;
  border-color: #891008; }

.btn-danger:hover {
  color: #ffffff;
  background-color: #ea1c0d;
  border-color: #c8180b; }

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #ea1c0d;
  border-color: #c8180b; }

.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #ffffff;
  background-color: #c8180b;
  border-color: #891008; }

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none; }

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #f44336;
  border-color: #f32c1e; }


/**********************************************************!
 * NAVBAR
 * STYLE
 **********************************************************/
.navbar {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #263238;
  border-color: #263238;
  margin-left: 0;
  min-height: 54px;
  height: 54px;
  transition: .5s; }

.navbar-form {
  padding: 20px 15px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative; }

.navbar-form .form-control.navbar-form-control {
  padding: 5px 45px 5px 15px;
  border-radius: 3px;
  border: 1px solid #ccd0d4;
  font-size: 12px;
  box-shadow: none;
  color: #555;
  width: 210px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: width .1s ease-in-out;
  -moz-transition:width .1s ease-in-out;
  -o-transition: width .1s ease-in-out;
  transition: width .1s ease-in-out; }

.navbar-form .form-control.navbar-form-control:focus {
  border-color: #ccd0d4;
  width: 300px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.input-icon {
   position: absolute;
   top: 28px;
   right: 30px;
   font-size: 16px;
   color: #888;
   cursor: pointer;
}

.navbar-brand {
  height: 54px;
  line-height: 25px;
  padding: 15px; }

@media only screen and (min-width : 1200px) {
  .navbar-brand {
    padding: 15px 21px; }
}

.navbar-default {
  background-color: #fff;
  border-color: #fff; }

.navbar-default .navbar-nav > li > a {
  line-height: 20px; }

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand {
  color: #333;
  font-weight: 600;
  letter-spacing: .4px }

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #006064; }

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 17px;
    padding-bottom: 17px; }
}

.navbar-default .navbar-collapse {
  overflow: hidden;
  border-color: transparent;
  background-color: #fff;
  border-color: #fff; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #006064;
  color: #fff; }

.caret {
  margin-top: -2px; }

.navbar-toggle {
  margin-bottom: 20px;
  margin-top: 20px; }

.profile-pic {
  height: 40px;
  margin-top: -10px;
  width: 40px;
  position: absolute;
  left: 10px;
  border-radius: 50%;
  border: 2px solid #fff; }

.dropdown-toggle.with-img {
  padding-left: 60px; }

.navbar-toggle {
  margin-top: 5px;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  font-size: 24px; }

.navbar-default .navbar-toggle {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  padding: 10px 20px;
  margin-bottom: 0;
  border-radius: 50%;
  transition: .3s; }

.navbar-default .navbar-toggle:hover {
  background-color: rgba(0, 0, 0, .05); }

@media only screen and (min-width: 768px) {
  .navbar-fa {
    display: none; }
}

/**********************************************************!
 * SIDE-NAVBAR
 * STYLE
 **********************************************************/
.side-navbar {
  padding-top: 51px;
  width: 250px;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, .2);
  overflow: hidden;
  height: 100%;
  position: fixed;
  background-color: #006064;
  display: block;
  z-index: 1029;
  overflow-y: auto;
  transition-property: all;
  transition-duration: .5s;
  -webkit-transition-timing-function: lineal;
  transition-timing-function: lineal; }

.side-navbar::-webkit-scrollbar {
  display: none; }

.side-navbar.open {
  left: -250px; }

.side-navbar .sn-header {
  position: fixed;
  width: 250px;
  background-color: #004D50;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  z-index: 10; }

.side-navbar .sn-header img {
  float: left;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 15px;
  border: 2px solid #fff; }

.side-navbar .sn-header .sh-data {
  display: inline; }

.side-navbar .sn-header .sh-data h4 {
  color: #fff;
  position: relative; }

.side-navbar .sn-header .sh-data h4 small {
  color: #fff;
  font-size: 70%;
  font-weight: 300; }

.side-navbar .sn-nav {
  list-style-type: none;
  padding: 0; }

.side-navbar > .sn-nav {
  padding-top: 101px }

.side-navbar .sn-nav.sn-subnav {
  background-color: rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .1);
}
.side-navbar .sn-nav li a {
  padding: 13px 15px;
  display: block;
  color: #fff;
  font-weight: 400;
  transition: 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, .03);
  border-top: 1px solid rgba(0, 0, 0, 0);
  white-space: nowrap;
  text-decoration: none;
  position: relative; }

.side-navbar .sn-nav.sn-subnav li a {
  padding-left: 45px; }

.side-navbar .sn-nav li a i {
  width: 26px; }

.side-navbar .sn-nav li a i.sb-caret {
  position: absolute;
  right: 0;
  margin-top: 3px; }

.side-navbar .sn-nav li a i.fa-exchange {
  position: relative;
  left: 1px; }

.side-navbar .sn-nav li a:hover {
  background-color: rgba(0, 0, 0, .05); }

.side-navbar .sn-nav li a.active {
  background-color: rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .1); }

.side-navbar .sn-nav li a.active:before {
  content: '';
  height: 100%;
  width: 3px;
  background-color: #fff;
  left: 0;
  top: 0;
  position: absolute; }

@media only screen and (min-width : 1200px) {
  .side-navbar.open {
    left: 0; }
}

/**********************************************************!
 * CONTENT
 * STYLE
 **********************************************************/
.inner-with-navs {
   padding-top: 69px;
   padding-left: 15px;
}

.inner-with-navs.no-top { padding-top: 0; }

@media only screen and (min-width : 1200px) {
  .inner-with-navs {
    padding-left: 270px; }
}

.breadcrumb {
  background-color: #f0f0f0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 0; }

.breadcrumb .main-title {
  margin: 0 0 5px 1px;
  font-weight: 400; }

p.text-helper {
  font-size: 12px;
  color: #aaa !important; }

.div-buttons {
  margin: 0 0 20px;
  text-align: right; }

.div-buttons-left .btn-default,
.div-buttons .btn-default {
  background-color: #009688;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12); }

/**********************************************************!
 * CARDS
 * STYLE
 **********************************************************/
.card {
  overflow: hidden;
  position: relative;
  margin: 0.5rem 0 2rem 0;
  background-color: #fefefe;
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); }

.card .card-header {
  background-color: #006064;
  padding: 10px 20px; }

.card .card-header .title {
  color: #fff;
  margin: 0;
  font-weight: 600; }

.card .card-title-inner {
  background-color: #ccc;
  padding: 16px 20px; }

.card .card-title-inner h5 {
  color: #fff;
  margin: 0;
  font-weight: 400;
  font-size: 18px; }

.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px; }

.card .card-content.no-padding {
  padding: 0; }

.card .card-content .card-title {
  line-height: 48px; }

.card .card-content .card-title {
  font-size: 24px;
  font-weight: 300; }

.card .card-content .card-title.small-card-title {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: bold;
  z-index: 10;
  position: relative; }

.card .card-content p {
  margin: 0;
  font-size: 14px; }

.card .card-content p.doc-title {
  font-weight: bold;
  font-size: 18px;
  color: #4b5658;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.card .card-content p.doc-subtitle {
  font-weight: 400;
  font-size: 14px;
  margin-top: -3px; }

.card-content.white-text .card-title,
.card-content.white-text label,
.card-content.white-text p {
  color: #fff; }

.card .card-action {
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 10px 20px;
  background-color: #fcfcfc;
  font-weight: 400; }

.card .card-action.to-right {
  text-align: right; }

.card .icon-bg-card {
  position: absolute;
  font-size: 40px;
  right: 25px;
  top: 50%;
  margin-top: -20px;
  color: rgba(255, 255, 255, 0.38);
  transition: 0.3s; }

.card:hover .icon-bg-card {
  color: rgba(255, 255, 255, 0.68); }

/**********************************************************!
 * TABLE
 * STYLE
 **********************************************************/
table.table {
  display: table;
  margin-bottom: 20px; }

.table-responsive {
  width: 100.1%;
  margin-bottom: 0;
  height: auto;
  min-height: 294px; }

.dataTables_wrapper {
  margin-bottom: 30px; }

.table > thead {
  border-bottom: 1px solid #d0d0d0; }

.table.anses > tfoot,
.table.anses > thead {
  background-color: #006064; }

.table-hover.anses > tbody > tr:hover {
  background-color: #ECEFF1; }

.table.anses > tfoot > tr > th,
.table.anses > thead > tr > th {
  color: #fff;
  font-weight: bold; }

.table-hover.anses > tbody > tr {
  transition: 0.2s; }

.table > tfoot > tr > th,
.table > thead > tr > th {
  border-bottom: 0;
  color: #999; }

.table > tbody > tr {
  background-color: #fff; }

.table > tbody > tr > td, 
.table > tfoot > tr > th,
.table > thead > tr > th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 0;
  font-weight: 400;
  color: #777; }

.table > tfoot > tr > th,
.table > thead > tr > th {
  padding: 10px 5px; }

.table > tfoot > tr > th:first-child,
.table > tbody > tr > td:first-child,
.table > thead > tr > th:first-child {
  padding-left: 15px; }

span.middle {
  display: block;
  text-align: center; }

.table > thead > tr > th.middle,
.table > tbody > tr > td.middle {
  text-align: center; }

.table > tbody > tr > td {
  border-bottom: 1px solid #ddd;
  border-top: 0; }

.table > tbody > tr > td i {
  transition: 0.3s;
  font-size: 18px; }

.avatar-table {
  width: 40px;
  height: 40px;
  margin: -10px 0;
  border-radius: 50%; }

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #006064;
  border-color: #006064; }

.pagination > li > a,
.pagination > li > span {
  color: #006064; }

.table > thead> tr > th.with-left-th,
.table > tbody> tr > td.with-left-th {
  padding-left: 15px; }

.table > thead> tr > th.empty {
  background-color: #fafafa; }

.table > tbody> tr > th {
  background-color: #006064;
  color: #fff;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .08);
  text-align: right;
  width: 160px; }

.table > thead.dark-bottom {
  border-color: #006064; }

/**********************************************************!
 * ALERTS
 * STYLE
 **********************************************************/
.alert {
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: 400; }

.alert-danger {
  background-color: #f44336;
  border-color: #f44336; }

.alert-success {
  background-color: #388E3C;
  border: 2px solid #388E3C; }

.alert-danger strong,
.alert-success p,
.alert-danger p {
  color: #fff; }

.alert-danger .retry {
  color: #fff;
  cursor: pointer; }

.close,
.close:focus,
.close:hover {
  color: #fff;
  opacity: 1; }

/**********************************************************!
 * SEARCHBOX TABLES
 * STYLE
 **********************************************************/
label {
  font-weight: 400;
  color: #777; }

.searchbox-input {
  border-color: #ddd;
  border-radius: 3px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08),
              0 2px 7px 0 rgba(0, 0, 0, 0.08);
  font-size: 13px; }

.searchbox-input:focus {
  border-color: #bbb;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08),
              0 2px 7px 0 rgba(0, 0, 0, 0.08); }

.card .card-content p.removeFilters {
  cursor: not-allowed;
  color: rgba(0, 0, 0, .2);
  text-align: center;
  margin-top: 32px;
  margin-bottom: 15px; }

.card .card-content p.removeFilters.filtersActive {
  cursor: pointer;
  color: #929292;
  transition: 0.3s; }

.card .card-content p.removeFilters.filtersActive:hover {
  color: #b2b2b2; }

/**********************************************************!
 * FLOATING BUTTON
 * STYLE
 **********************************************************/
.btn-floating {
  display: block;
  color: #fff;
  position: relative;
  text-align: center;
  overflow: hidden;
  z-index: 100;
  width: 52px;
  height: 52px;
  line-height: 57px;
  padding: 0;
  background-color: #2196F3;
  border-radius: 50%;
  transition: 0s;
  cursor: pointer;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
              0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-floating i {
  font-size: 20px; }

.btn-floating:hover {
  background-color: #64B5F6; }

.btn-floating:hover i {
  color: #fff; }

.btn-floating.fixed {
  position: fixed;
  right: 14px;
  bottom: 14px; }

/**********************************************************!
 * MODAL
 * STYLE
 **********************************************************/
.modal-content {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
              0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #fafafa; }

.modal-header .close {
  color: #222;
  margin-top: 2px; }

.modal-body .form-control {
  border-radius: 2px; }

.modal-body .form-control.no-pointer {
  cursor: initial; }

.btn {
  font-weight: 400;
  letter-spacing: .4px; }

.tabla-button-top {
  padding: 8px 24px;
  margin-bottom: 20px; }

.user-to-delete-data {
  margin-left: 70px;
  margin-top: -4px; }

.user-to-delete-data p {
  margin-bottom: 7px !important; }

.spinner-inner {
  margin-top: 60px;
  margin-bottom: 60px;
  display: block;
  text-align: center; }

.spinner-inner i {
  color: #2196F3 }

.spinner-inner p {
  margin-top: 10px; }

.modal-avatar {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%; }

/**********************************************************!
 * SWITCH
 * STYLE
 **********************************************************/
.switch {
  margin-top: 3px;
  height: 15px;
  width: 30px;
  border: 0;
  background-color: rgb(158, 158, 158); }

.switch small {
  background-color: #eee;
  width: 20px;
  height: 20px;
  top: -3px;
  left: -3px; }

.switch.checked {
  background-color: #80CBC4;
  border: 0; }

.switch.checked small {
  left: 13px;
  background-color: #26A69A; }

/**********************************************************!
 * LOGIN
 * STYLE
 **********************************************************/
.back-login {
  background-color: #D3D3D3; }

/**********************************************************!
 * USER PANEL
 * STYLE
 **********************************************************/
.img-profile-settings {
  margin-bottom: 10px;
  width: 75px;
  float: left; }

.form-upload-right {
  margin-top: 3px;
  margin-left: 100px; }

.extension-span {
  font-weight: 600;
  text-transform: uppercase; }

/**********************************************************!
 * DATATABLES
 * STYLE
 **********************************************************/
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  bottom: 14px;
  font: normal normal normal 14px/1 FontAwesome; }

table.dataTable thead .sorting_desc:after {
  content: '\f0d7'; }

table.dataTable thead .sorting_asc:after {
  content: '\f0d8'; }

table.dataTable thead .sorting:after {
  content: '\f07d'; }

.min-width {
  width: 1px; }

.min-width.with-actions-btn i {
  margin-right: 10px; }

.min-width.with-actions-btn i.fa-edit {
  position: relative;
  top: 1px; }

.btn-table {
  margin: -5px 0; }

/**********************************************************!
 * CONFIGURATION
 * STYLE
 **********************************************************/
.config-avatar-inner {
  position: relative; }

.config-avatar-inner img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
  border: 2px solid #fff; }

.checkbox.middle {
  margin-top: 29px; }

.alert-pointer {
  cursor: pointer; }

.folder-inner {
  position: relative;
  display: block;
  margin-bottom: 7px; }

.folder-inner:last-child {
  margin-bottom: 0; }

.folder-inner > div {
  cursor: pointer; }

.folder-inner > div img {
  margin-top: -5px; }

.folder-inner > div:hover span {
  color: #006064; }

.folder-inner > div span {
  margin-left: 5px;
  font-weight: 400; }

.card .card-header .title img {
  margin-right: 5px;
  margin-top: -4px; }

.btn-open-sidemenu {
  background-color: #006064 !important;
  border: 0;
  margin-left: 0;
  margin-right: 22px;
  padding: 13px 18px 13px 17px;
  float: left;
  font-size: 20px;
  border-radius: 0;
  color: #fff;
  display: block;
  transition: 0.3s; }

@media only screen and (min-width: 768px) {
  .btn-open-sidemenu {
    margin-left: -15px; }
}

@media only screen and (min-width : 1200px) {
  .btn-open-sidemenu {
    display: none; }
}

.btn-open-sidemenu:hover,
.btn-open-sidemenu:focus,
.btn-open-sidemenu:active,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff; }

.buttons-top {
  margin-bottom: 20px; }