<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>web-template | 404</title>
   <link rel="stylesheet" href="/../css/libs/bootstrap.min.css">
   <link rel="stylesheet" href="/../css/libs/font-awesome.min.css">
   <link rel="stylesheet" href="/../css/libs/animate.css">
   <link rel="stylesheet" href="/../css/landing/landing.css">
</head>
<body>
   <div class="content-wrapper">
      <div class="content-wrapper-two"></div>
      <div class="content-caption">
         <div class="container">
            <h1 class="error-title">404</h1>
            <h2 class="error-subtitle">La página solicitada no existe</h2>
            <hr class="error-hr">

            <a class="error-link" href="/">Volver al inicio</a>
            <span class="divider">|</span>
            <a class="error-link" href="/register">Registrarse</a>
            <span class="divider">|</span>
            <a class="error-link" href="/login">Iniciar Sesión</a>
         </div>
      </div>
   </div>
</body>
</html>