<!DOCTYPE html>
<html>
  <% include ../views/modules/dashboard/header %>
<body>
  <% include ../views/modules/dashboard/navbar %>
  <% include ../views/modules/dashboard/sidebar %>

  <div class="container-fluid inner-with-navs breadcrumb">
    <h4 class="main-title">Usuarios</h4>
  </div> <!-- /.container-fluid -->

  <div class="container-fluid light inner-with-navs no-top">
    <div class="row">
      <div class="col-sm-12">
        <button type="button" class="btn btn-info tabla-button-top btn-sm" onClick="renderUserTable()">
          <i class="fa fa-refresh"></i> Recargar Tabla
        </button> <!-- /.btn -->
        <div class="table-responsive">
          <table id="userTable" class="table table-hover anses">
            <thead>
              <tr>
                <th></th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Fecha Registro</th>
                <th>Registrado Con</th>
                <th>Acción</th>
              </tr> <!-- /tr -->
            </thead> <!-- /thead -->
          </table> <!-- /.table -->
        </div> <!-- /.table-responsive -->
      </div> <!-- /.col-sm-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->

  <!-- ################################################# -->
  <!--                  MODAL USUARIOS                   -->
  <!-- ################################################# -->
  <div class="modal fade in" role="dialog" id="infoUserModal" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Información de Usuario</h3>
        </div> <!-- /.modal-header -->
        <div class="modal-body">
          <div class="card">
            <div class="card-content">
              <img class="modal-avatar" id="infoUserAvatar">
              <div class="user-to-delete-data">
                <p>ID de Usuario<br>
                <b id="infoUserId"></b></p>
                <p>Nombre de Usuario<br>
                <b id="infoUserName"></b></p>
                <div id="infoUserEmailData">
                  <p>Email<br>
                  <b id="infoUserEmail"></b></p>
                  <p>Email Confirmado<br>
                    <b id="infoUserConfirmed"></b>
                  </p>
                </div>
                <p>Fecha de Ingreso<br>
                <b id="indoUserCreatedAt"></b></p>
              </div>
            </div> <!-- /.card-content -->
          </div> <!-- /.card -->
        </div> <!-- /.modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div> <!-- /.modal-footer -->
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
  </div> <!-- /.modal -->

  <div class="modal fade in" role="dialog" id="deleteUserModal" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">¿Esta seguro de eliminar este usuario?</h3>
        </div> <!-- /.modal-header -->
        <div class="modal-body">
          <div class="card">
            <div class="card-content">
              <img class="modal-avatar" id="deleteUserAvatar">
              <div class="user-to-delete-data">
                <p>ID de Usuario<br>
                <b id="deleteUserId"></b></p>
                <p>Nombre de Usuario<br>
                <b id="deleteUserName"></b></p>
                <div id="deleteUserEmailData">
                  <p>Email<br>
                  <b id="deleteUserEmail"></b></p>
                  <p>Email Confirmado<br>
                    <b id="deleteUserConfirmed"></b>
                  </p>
                </div>
                <p>Fecha de Ingreso<br>
                <b id="deleteUserCreatedAt"></b></p>
              </div> <!-- /.user-to-delete-data -->
            </div> <!-- /.card-content -->
          </div> <!-- /.card -->
        </div> <!-- /.modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button id="deleteUserBtn" class="btn btn-danger" type="button">
            <span>Eliminar</span>
          </button>
        </div> <!-- /.modal-footer -->
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
  </div> <!-- /.modal -->

  <% include ../views/modules/dashboard/scripts %>
  <script type="text/javascript">var user_id = '<%- user_id %>';</script>
  <script src="/js/app/all-users.js"></script>
</body>
</html>