<!DOCTYPE html>
<html>
  <% include ../views/modules/dashboard/header %>
<body>
  <% include ../views/modules/dashboard/navbar %>
  <% include ../views/modules/dashboard/sidebar %>

  <div class="container-fluid inner-with-navs breadcrumb">
    <h4 class="main-title">Documentos</h4>
  </div> <!-- /.container-fluid -->

  <div class="container-fluid light inner-with-navs no-top">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary tabla-button-top btn-sm" onClick="addNewDocument()">
          <i class="fa fa-file"></i> Subir documento
        </button> <!-- /.btn -->
        <div class="table-responsive">
          <table id="docTable" class="table table-hover anses">
            <thead>
              <tr>
                <th>Documento</th>
                <th>Autor</th>
                <th>Tamaño</th>
                <th>Subida</th>
                <th>Carpeta</th>
                <th>Descargas</th>
                <th>Acciones</th>
              </tr> <!-- /tr -->
            </thead> <!-- /thead -->
          </table> <!-- /.table -->
        </div> <!-- /.table-responsive -->
      </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->

  <!-- ################################################# -->
  <!--                 MODAL DOCUMENTS                   -->
  <!-- ################################################# -->
  <div class="modal fade in" role="dialog" id="addDocModal" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Agregar nuevo documento</h3>
        </div> <!-- /.modal-header -->
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Nombre de la Carpeta</label>
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="folderDropdown">
                      <i class="fa fa-folder"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="foldersOptions"></ul>
                  </div><!-- /btn-group -->
                  <input id="newDocFolder" type="text" placeholder="Carpeta" class="form-control no-pointer">
                </div><!-- /input-group -->
              </div> <!-- /.form-group -->
            </div> <!-- /.col-sm-6 -->
            <div class="col-sm-6">
              <div class="form-group">
                <label>Usuarios</label>
                <select id="newDocSelect" class="form-control" multiple="multiple">
                  <option></option>
                </select> <!-- /.form-control -->
              </div> <!-- /.form-group -->
            </div> <!-- /.col-sm-6 -->
            <div class="col-sm-6">
              <div class="checkbox middle">
                <label>
                  <input type="checkbox" value="true" id="sendToAll">
                  Subir para todos.
                </label>
              </div>
            </div> <!-- /.col-sm-6 -->
          </div>
          <div class="form-group">
            <label>Archivo</label>
            <input id="newDocInput" value="false" type="file" class="file" data-show-preview="false">
          </div> <!-- /.form-group -->
        </div> <!-- /.modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button id="addNewDocBtn" class="btn btn-primary btn-modal" type="button" disabled>
            <span>Subir</span>
          </button>
        </div> <!-- /.modal-footer -->
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
  </div> <!-- /.modal -->

  <div class="modal fade in" role="dialog" id="deleteDocModal" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">¿Esta seguro de eliminar este documento?</h3>
        </div> <!-- /.modal-header -->
        <div class="modal-body">
          <div class="card">
            <div class="card-content">
              <p>ID del Documento<br>
              <b id="docToDeleteId"></b></p>
              <p>Nombre<br>
              <b id="docToDeleteAlias"></b></p>
              <p>Carpeta<br>
              <b id="docToDeleteFolder"></b></p>
              <p>Subido Por<br>
              <b id="docToDeleteUploadedBy"></b></p>
              <p>Fecha de Subida<br>
              <b id="docToDeleteUploadedAt"></b></p>
            </div> <!-- /.card-content -->
          </div> <!-- /.card -->
        </div> <!-- /.modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger btn-modal" id="deleteDocBtn">
            <span>Eliminar</span>
          </button>
        </div> <!-- /.modal-footer -->
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
  </div> <!-- /.modal -->

  <% include ../views/modules/dashboard/scripts %>
  <script src="/js/app/all-documents.js"></script>
</body>
</html>