<!DOCTYPE html>
<html>
  <% include ../views/modules/dashboard/header %>
<body>
  <% include ../views/modules/dashboard/navbar %>
  <% include ../views/modules/dashboard/sidebar %>

  <div class="container-fluid inner-with-navs breadcrumb">
    <h4 class="main-title">Generador CRUD</h4>
  </div> <!-- /.container-fluid -->

  <div class="container-fluid light inner-with-navs no-top">
    <div class="row">
      <div class="col-md-12">
      </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->

  <!-- ################################################# -->
  <!--                    MODAL CRUD                     -->
  <!-- ################################################# -->
  <% include ../views/modules/dashboard/scripts %>
</body>
</html>