<!DOCTYPE html>
<html>
<% include ../views/modules/landing/headers %>
<body>
  <% include ../views/modules/landing/navbar %>
  <div class="container">
    <div class="main-img-inner text-center">
      <img src="/img/logo.jpg">
      <h3>The ectoplasmic-free JS framework</h3>
      <h5>coded with <i class="fa fa-heart-o"></i> by debug-the-box</h5>
    </div>
  </div>
  <% include ../views/modules/landing/scripts %>
</body>
</html>