<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= app.appName %></title>
  <link rel="stylesheet" href="/css/app/fonts.css">
  <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
  <link rel="stylesheet" href="/css/libs/font-awesome.min.css">
  <link rel="stylesheet" href="/css/libs/animate.css">
  <link rel="stylesheet" href="/css/landing/landing.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> <!-- /.navbar-toggle -->
        <a class="navbar-brand" href="#">Jefecito-io</a>
      </div> <!-- /.navbar-header -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="alwaysActive">
             <a href="/login"><i class="fa fa-sign-in"></i> Acceso clientes</a>
          </li> <!-- /.alwaysActive -->
        </ul> <!-- /.navbar-nav -->
      </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
  </nav> <!-- /.navbar-default -->

  <div class="container">
    <div class="main-img-inner text-center">
      <img src="/img/logo.jpg">
      <h3>The ectoplasmic-free JS framework</h3>
      <h5>coded with <i class="fa fa-heart-o"></i> by debug-the-box</h5>
    </div>
  </div>

  <script src="/js/libs/jquery.min.js"></script>
  <script src="/js/libs/bootstrap.min.js"></script>
</body>
</html>