<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= app.appName %> | Iniciar Sesión</title>
  <link rel="stylesheet" href="/css/app/fonts.css">
  <link rel="stylesheet" href="/css/libs/pace.css">
  <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
  <link rel="stylesheet" href="/css/libs/font-awesome.min.css">
  <link rel="stylesheet" href="/css/libs/animate.css">
  <link rel="stylesheet" href="/css/libs/messenger.css">
  <link rel="stylesheet" href="/css/libs/messenger-theme-flat.css">
  <link rel="stylesheet" href="/css/app/sign.css">
</head>
<body>
  <div class="content-wrapper">
    <div class="content-caption">
      <div class="container">
        <% if(msg) { %>
          <% if(state) { %>
            <div class="alert alert-success width-limit">
          <% } else { %>
            <div class="alert alert-danger width-limit">
          <% } %>
            <p><%= msg %></p>
          </div>
        <% } %>
        <form id="loginForm">
          <div class="well animated fadeInUp">
            <a href="/"><h5 class="back-to-index"><img src="/img/logo.jpg"></h5></a>
            <label>Email</label>
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="email" class="form-control" id="loginEmail" placeholder="Email">
            </div> <!-- /.form-group -->
            <label>Contraseña</label>
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password" class="form-control" id="loginPassword" placeholder="Contraseña">
            </div> <!-- /.form-group -->
          </div> <!-- /.well -->
          <div class="well dark animated fadeInUp">
            <button id="loginBtn" type="submit" class="btn btn-primary btn-submit">
              <span>Ingresar</span>
            </button> <!-- /.btn-primary -->
            <a class="create-account first" href="/forgot-password">Olvidé mi contraseña</a>
            <a class="create-account second" href="/register">Crear una nueva cuenta</a>
          </div> <!-- /.well -->
        </form> <!-- /form -->
      </div> <!-- /.container -->
    </div> <!-- /.content-caption -->
  </div> <!-- /.content-wrapper -->
  <script src="/js/libs/jquery.min.js"></script>
  <script src="/js/libs/pace.min.js"></script>
  <script src="/js/libs/bootstrap.min.js"></script>
  <script src="/js/libs/messenger.min.js"></script>
  <script src="/js/sign/sign.js"></script>
  <script src="/js/sign/login.js"></script>
</body>
</html>