<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= app.name %> | Get new passoword</title>
   <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
   <link rel="stylesheet" href="/css/libs/font-awesome.min.css">
   <link rel="stylesheet" href="/css/libs/loading-bar.css">
   <link rel="stylesheet" href="/css/libs/animate.css">
   <link rel="stylesheet" href="/css/app/sign.css">
</head>
<body ng-app="web-template-login"
      ng-cloak>
   <div class="content-wrapper">
      <div class="content-background"></div>
      <div class="content-caption">
         <div class="container"
              ng-controller="setNewPasswordCtrl">
            
            <div class="alert"
                 ng-class="{'alert-success': pwReturn == true, 'alert-danger': pwReturn == false}"
                 ng-if="pwAlert">
               <button type="button"
                       class="close"
                       ng-click="closeAlert()">&times;</button>
               <p>{{ pwMsg }}</p>
            </div>

            <div class="well animated fadeInUp">
               <h4 class="back-to-index">
                  <a href="/"><%= app.name %></a>
               </h4>

               <hr class="sign-hr">

               <p>Ingrese una nueva contraseña</p>
               <fieldset ng-disabled="sendingPw">
                  <form>
                     <div class="form-group">
                        <input type="password"
                               class="form-control"
                               placeholder="Contraseña"
                               ng-model="newPassword">
                     </div>

                     <div class="form-group">
                        <input type="password"
                               class="form-control"
                               placeholder="Reingrese su nueva contraseña"
                               ng-model="reNewPassword">
                     </div>
                     
                     <button type="submit"
                             class="btn btn-primary btn-submit"
                             ng-click="submitNewPassword(newPassword, reNewPassword)">
                        Enviar
                     </button>
                  </form> <!-- form end -->
               </fieldset> <!-- fieldset end -->

               <div ng-if="returnSuccessPw">
                  <br>
                  <p>Redirigiendo en {{ counter }} segundos.<br>
                  Si no es redirigido pulse <a href="/login">aquí</a>.</p>
               </div>
            </div> <!-- well end -->
         </div> <!-- container end -->
      </div> <!-- content-caption end -->
   </div> <!-- content-wrapper end -->
   <script src="/js/libs/angular.js"></script>
   <script src="/js/libs/angular-bootstrap.min.js"></script>
   <script src="/js/libs/ng-password-strength.min.js"></script>
   <script src="/js/libs/loading-bar.js"></script>
   <script>var user = <%- JSON.stringify(user) %></script>
   <script src="/js/app/sign.js"></script>
   <script src="/js/app/sign.providers.js"></script>
</body>
</html>