<!DOCTYPE html>
<html>
  <% include ../views/modules/user-panel/user-header %>
<body>
  <% include ../views/modules/user-panel/user-navbar %>
  <% include ../views/modules/user-panel/user-sidebar %>

  <div class="container-fluid inner-with-navs breadcrumb">
    <h4 class="main-title">Configuración</h4>
  </div> <!-- /.container-fluid -->

  <div class="container-fluid light inner-with-navs no-top">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Avatar</h5>
          </div> <!-- ./card-header -->
          <div class="card-content">
            <div class="config-avatar-inner">
              <img id="userAvatar" src="/img/default.png">
            </div> <!-- /.config-avatar-inner -->
            <div class="form-group">
              <input id="updateAvatarInput" value="false" type="file" class="file">
            </div> <!-- /.form-group -->
            <button onClick="updateAvatar()" id="updateAvatarBtn" type="button" class="btn btn-primary btn-sm btn-block" disabled>
              <span>Cambiar Avatar</span>
            </button> <!-- /.btn-primary -->
          </div> <!-- /.card-content -->
        </div> <!-- /.card -->
      </div> <!-- /.col-sm-4 -->

      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Password</h5>
          </div> <!-- ./card-header -->
          <div class="card-content">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <input id="oldPassword" type="password" class="form-control" placeholder="Actual Contraseña">
                </div> <!-- /.form-group -->
                <div class="form-group">
                  <br>
                  <input id="newPassword" type="password" class="form-control" placeholder="Nueva Contraseña">
                </div> <!-- /.form-group -->
                <div class="form-group">
                  <input id="reNewPassword" type="password" class="form-control" placeholder="Repetir Contraseña">
                </div> <!-- /.form-group -->
              </div> <!-- /.col-sm-12 -->
            </div> <!-- /.row -->
            <button onClick="updatePassword()" id="updatePasswordBtn" type="button" class="btn btn-primary btn-sm btn-block">
              <span>Cambiar Contraseña</span>
            </button> <!-- /.btn-primary -->
          </div> <!-- /.card-content -->
        </div> <!-- /.card -->
      </div> <!-- /.col-sm-4 -->

      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Email y Usuario</h5>
          </div> <!-- ./card-header -->
          <div class="card-content">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <input id="newEmail" type="email" class="form-control" placeholder="Nuevo Email">
                </div> <!-- /.form-group -->
                <div class="form-group">
                  <input id="newUser" type="text" class="form-control" placeholder="Nuevo Usuario">
                </div> <!-- /.form-group -->
              </div> <!-- /.col-sm-12 -->
            </div> <!-- /.row -->
            <button onClick="updateUserEmail()" id="updateUserEmailBtn" type="button" class="btn btn-primary btn-sm btn-block">
              <span>Cambiar Datos</span>
            </button> <!-- /.btn-primary -->
          </div> <!-- /.card-content -->
        </div> <!-- /.card -->
      </div> <!-- /.col-sm-4 -->
    </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->

  <!-- ################################################# -->
  <!--                 MODAL CONFIGURACIÓN               -->
  <!-- ################################################# -->
  <% include ../views/modules/user-panel/user-scripts %>
  <script src="/js/app/user-config.js"></script>
</body>
</html>