<nav class="side-navbar open" id="sidebar">
  <div class="sn-header">
    <img id="sidebar-avatar" src="/img/default.png">
    <div class="sh-data">
      <h4>
        <b id="sidebar-user">Usuario</b><br>
        <small id="sidebar-role">Rol</small>
      </h4> <!-- /h4 -->
    </div> <!-- /.sh-data -->
  </div> <!-- /.sn-header -->
  <ul class="sn-nav">
    
    <% if(user.local.roles[0] === 'admin') { %>
      <li>
        <a href="/dashboard"><i class="fa fa-dashboard"></i> Panel de Administración</a>
      </li>
    <% } %>
    <li>
      <a id="user-panel" href="/user"><i class="fa fa-object-group"></i> Panel de Usuario</a>
    </li>
    <li>
      <a id="user-config" href="/user/config"><i class="fa fa-cogs"></i> Configuración</a>
    </li>
    <li>
      <a href="/logout"><i class="fa fa-sign-out"></i> Salir</a>
    </li>
  </ul> <!-- /.sn-nav -->
</nav> <!-- /.side-navbar -->